email="tcrombie@northwestern.edu"
process.cache = 'lenient'
import java.time.*
Date now = new Date()


process {
		memory='64 GB'
}

params {

	day                = now.format("yyyMMdd")
    timestamp          = now.format("yyyyMMdd-HH-mm-ss")
    tracedir           = "pipeline-info"

	pipeline_directory = "/projects/b1059/projects/Stefan/CePopulationGenetics-nf"
	base_input_dir = "${pipeline_directory}/input_files"
	sv_vcf = "${base_input_dir}/Ce330_MERGED_SV.vcf.gz"
	pops = "${base_input_dir}/strain_sets_admixture.tsv"
	admix_k = 10
	admix_ld = 0.1

	genome = "WS245"
	reference = "${base_input_dir}/${genome}.fa"

	vcfanno_config = "${base_input_dir}/ANNOTATION_conf.toml"

	popgenome_window = 1000
	popgenome_slide = 1000

	gff = "${base_input_dir}/Popgenome_files/WS245_exons.gff"

	eigen_par_outlier_removal = "${pipeline_directory}/bin/eigpar"
	eigen_par_no_removal = "${pipeline_directory}/bin/eigpar_no_removal"
}

profiles {

		full_test {

			params {

			haplotype = null
			popgene_window = null
			popgene_window_subpop = null
			popgene_gene = null
			popgene_gene_subpop = null
			admixture_100 = null
			admixture_seed = "TRUE"
			phylo = null
		
		}
			process {

			executor = "local"
		
		}
	}

		full {

			params {

			haplotype = "TRUE"
			popgene_window = "TRUE"
			popgene_window_subpop = "TRUE"
			popgene_gene = "TRUE"
			popgene_gene_subpop = "TRUE"
			admixture_100 = "TRUE"
			admixture_seed = "TRUE"
			phylo = "TRUE"
			eigenstrat_run = "TRUE"

		}

	}

		admixture_cv {

			params {

			haplotype = null
			popgene_window = null
			popgene_window_subpop = null
			popgene_gene = null
			popgene_gene_subpop = null
			admixture_100 = null
			admixture_seed = "TRUE"
			phylo = null

		}
	}

		haplotype_only {

			params {

			haplotype = "TRUE"
			popgene_window = null
			popgene_window_subpop = null
			popgene_gene = null
			popgene_gene_subpop = null
			admixture_100 = null
			admixture_seed = null
			phylo = null
			eigenstrat_run = null

			}
		}

		admixture_full {

			params {

			haplotype = null
			popgene_window = null
			popgene_window_subpop = null
			popgene_gene = null
			popgene_gene_subpop = null
			admixture_100 = "TRUE"
			admixture_seed = null
			phylo = null

		}		
	}
	
		popgenome {

			params {

			haplotype = null
			popgene_window = "TRUE"
			popgene_window_subpop = null
			popgene_gene = "TRUE"
			popgene_gene_subpop = null
			admixture_100 = null
			admixture_seed = null
			phylo = null
			popgen_anc = "XZ1516"

		}		

	}

		popgenome_subpop {

			params {

            haplotype = null
            popgene_window = null
            popgene_window_subpop = "TRUE"
            popgene_gene = null
            popgene_gene_subpop = null
            admixture_100 = "TRUE"
            admixture_seed = null
            phylo = null
            eigenstrat_run = null
            popgen_anc = "XZ1516"

		}
	}	

		pca {

			params {

			eigen_ld = 0.2
            haplotype = null
            popgene_window = null
            popgene_window_subpop = null
            popgene_gene = null
            popgene_gene_subpop = null
            admixture_100 = null
            admixture_seed = null
            phylo = null
            eigenstrat_run = "True"
            popgen_anc = "XZ1516"

		}		

	}

}

report {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_report.html"
}

timeline {
    enabled = true
    file = "${params.tracedir}/${params.timestamp}_timeline.html"
}
